.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: #000;
  background-image: url(../../../images/Add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  cursor: pointer;
  transition: opacity .3s ease;
  padding: 0;
}

.profile__button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 610px) {
  .profile__button-add {
    width: 237.22px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 485px) {
  .profile__button-add {
    width: 100%;
    background-size: 16px;
    margin-top: 36px;
  }
}
