.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease;
  padding: 0;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .popup__close {
    right: 0;
    top: -50px;
  }
}

@media screen and (max-width: 485px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
  }
}
