.gallery__container {
  margin: 0;
  padding: 0 15px 0 21px;
  background-color: #FFF;
  max-width: 246px;
  width: 100%;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
