.header {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 36.25px;
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  min-height: 73px;
  border-bottom: 1px solid #545454;
  opacity: .7;
}

@media screen and (max-width: 910px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 610px) {
  .header {
    max-width: 400px;
  }
}

@media screen and (max-width: 485px) {
  .header {
    padding-top: 28px;
    padding-bottom: 38.25px;
    margin: 0;
    min-height: 56px;
    max-width: 100%;
  }

  .header::before {
    min-height: 55px;
    top: 27.6px;
  }
}
